<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SK</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customers' %}">Customers</a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="#">Limitted access Only</a>
        </li>
        {% endif %}

        {% if first_group_name|lower == 'developer' %}
        <li class="nav-item">
          <a class="nav-link" href="#">For developer access Only</a>
        </li>
        {% endif %}
        
        {% if first_group_name == 'admin' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action  </a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        {% endif %}
      </ul>
      <span>
        <span class="text-dark text-uppercase">{{request.user}}: {{first_group_name}} </span>
        <button type="button" class="btn btn-info" onclick="location.href='{% url 'logout' %}'" ">Logout</button>
      </span>
    </div>
  </nav>